<div style="background-color: gray;">
<div style="text-align:center"  class="container">

    <h1 style="background-color: blue "   class="text-center">Информация</h1>
    <br>
    <h1 class="text-center">Погодное Приложение</h1>
    <br>

    <div class="row">
        <div class="col-5 offset-1">
            <h1>Погода в вашем городе</h1>
            <br>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <label for="city">Страна или Город</label>
                <br>
                <br>
                {{ form.name }}
                <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Погода в городах:</h3>
            <br>
            <br>
            {% for info in all_info %}
                <div class="alert alert-light">
                    <b>City: </b> {{ info.city }}<br>
                    <b>Температура: </b> {{ info.temp }}<sup>0</sup><br>
                    <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Image Weather"
                         class="img-thumbnail">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>


